/**/.idea/
code/android/.idea/.name
code/android/.idea/AndroidProjectSystem.xml
code/android/.idea/compiler.xml
code/android/.idea/deploymentTargetSelector.xml
code/android/.idea/gradle.xml
code/android/.idea/migrations.xml
code/android/.idea/misc.xml
code/android/.idea/runConfigurations.xml
code/android/.idea/vcs.xml
**/.DS_Store
